<% @august.each do |expense| %>
  <%= link_to expense, class:'link' do %>
    <div class="expense_big-container d-flex align-items-center bg-light mt-3">
      <div class="expense_big-image p-2">
        <%= expense_group(expense) %>
      </div>
      <div class="expense_big-titles p-2 d-flex flex-column w-60">
        <div class="expenses-titles d-flex justify-content-between">
          <p class="text-size text-casual-bold pr-3"><%= expense.name %></p>
          <p class="text-size text-casual-bold pr-3">$<%= expense.amount %></p>
        </div>
        <div class="expenses-titles d-flex justify-content-between">
          <p class="text-size-small text-muted text-casual-bold pr-3"><%= current_user.name %></p>
          <p class="text-size-small text-muted text-casual-bold pr-3"><%= current_user.created_at.strftime('%B %d, %Y') %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
