<div class="header-expense w-100 bg-main d-flex align-items-center">
  <div class="primero">
    <%= link_to user_path(current_user), class:'link' do %>
      <i class="fas fa-arrow-left text-light"></i>
    <% end %>
  </div>
  <div class="d-flex text-center flex-column pt-2">
    <h4 class="expense-title text-casual-bold text-uppercase text-light">Monthly</h4>
    <h4 class="expense-title text-casual-bold text-uppercase text-light">Summary</h4>
  </div>
  <div class="actions">
  </div>
</div>
<%= link_to months_jan_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">January</p>
    </div>
    <div class="total_title-container">
      <i class="far fa-snowflake"></i>
    </div>
  </div>
<% end %>
<%= link_to months_feb_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">February</p>
    </div>
    <div class="total_title-container">
      <i class="far fa-snowflake"></i>
    </div>
  </div>
<% end %>
<%= link_to months_march_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">March</p>
    </div>
    <div class="total_title-container">
      <i class="fas fa-seedling"></i>
    </div>
  </div>
<% end %>
<%= link_to months_april_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">April</p>
    </div>
    <div class="total_title-container">
      <i class="fas fa-seedling"></i>
    </div>
  </div>
<% end %>
<%= link_to months_may_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">May</p>
    </div>
    <div class="total_title-container">
      <i class="fas fa-seedling"></i>
    </div>
  </div>
<% end %>
<%= link_to months_june_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">June</p>
    </div>
    <div class="total_title-container">
      <i class="fas fa-sun"></i>
    </div>
  </div>
<% end %>
<%= link_to months_july_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">July</p>
    </div>
    <div class="total_title-container">
      <i class="fas fa-sun"></i>
    </div>
  </div>
<% end %>
<%= link_to months_aug_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">August</p>
    </div>
    <div class="total_title-container">
      <i class="fas fa-sun"></i>
    </div>
  </div>
<% end %>
<%= link_to months_sept_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">September</p>
    </div>
    <div class="total_title-container">
      <i class="fas fa-wind"></i>
    </div>
  </div>
<% end %>
<%= link_to months_oct_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">October</p>
    </div>
    <div class="total_title-container">
      <i class="fas fa-wind"></i>
    </div>
  </div>
<% end %>
<%= link_to months_nov_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">November</p>
    </div>
    <div class="total_title-container">
      <i class="fas fa-wind"></i>
    </div>
  </div>
<% end %>
<%= link_to months_dec_path, class:'link' do %>
  <div class="total_big-container d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">
    <div class="total_title-container">
      <p class="text-casual-bold text-size">December</p>
    </div>
    <div class="total_title-container">
      <i class="far fa-snowflake"></i>
    </div>
  </div>
<% end %>
